In [48]:
""" Mainly used in data analysis, data cleaning, data transformation, and data exploration tasks"""
import warnings 
import pandas as pd
df = pd.read_csv('Book1.csv')   # the read_csv() function is inbuilt in pandas
df1 = pd.read_csv('assignmentreport_copy.csv')
print(df)                         # data in the pandas is called the dataframes outside is datasets
warnings.filterwarnings("ignore")         #this will igore  the warnings

     0  age   income vehicle
0    1   20   300000    alto
1    2   22   300000    alto
2    3   20   275000    alto
3    4   27   500000   wagon
4    5   26   550000   wagon
5    6   30   580000   wagon
6    7   31  1000000  baleno
7    8   33  1100000  baleno
8    9   35  1050000  baleno
9   10   40  1500000  seltos
10  11   42  1300000  seltos
11  12   44  1400000  seltos

In [49]:
print(df.to_string())

     0  age   income vehicle
0    1   20   300000    alto
1    2   22   300000    alto
2    3   20   275000    alto
3    4   27   500000   wagon
4    5   26   550000   wagon
5    6   30   580000   wagon
6    7   31  1000000  baleno
7    8   33  1100000  baleno
8    9   35  1050000  baleno
9   10   40  1500000  seltos
10  11   42  1300000  seltos
11  12   44  1400000  seltos

In [50]:
print(df1)

                                     Name RollNumber  MCQ 1 Score  \
0                        Bala Sweatha S D    20AD008         20.0
1                               Pradeep K    20AD040         20.0
2                                Raghul G    20CY019         18.0
3                         Vishnupriya B E    20EC138         17.0
4   Gummireddigari Kadireddi Vijaya Durga    20CS014         16.0
..                                    ...        ...          ...
60                              Deepika S    20MD002          5.0
61                             Priyanka G        NaN          4.0
62                               Vahini D    20CS170          3.0
63                        Muthaiyanavendr    20EC081          NaN
64                             Dhanasri A    20IT007          NaN

    Coding Assessment 1  No.of Coding Question  Total Score
0                  75.0                      2           95
1                  75.0                      2           95
2                  75.0                      2           93
3                  75.0                      2           92
4                  75.0                      2           91
..                  ...                    ...          ...
60                  NaN                      0            5
61                  NaN                      0            4
62                  0.0                      0            3
63                  0.0                      0            0
64                  0.0                      0            0

[65 rows x 6 columns]

In [51]:
print(df1.to_string())

                                     Name RollNumber  MCQ 1 Score  Coding Assessment 1  No.of Coding Question  Total Score
0                        Bala Sweatha S D    20AD008         20.0                 75.0                      2           95
1                               Pradeep K    20AD040         20.0                 75.0                      2           95
2                                Raghul G    20CY019         18.0                 75.0                      2           93
3                         Vishnupriya B E    20EC138         17.0                 75.0                      2           92
4   Gummireddigari Kadireddi Vijaya Durga    20CS014         16.0                 75.0                      2           91
5                            Vaishnavi  P    20CY025         13.0                 75.0                      2           88
6                  Kotakonda Mallikarjuna    20CS025         11.0                 75.0                      2           86
7                  Kalaiarasi Gunasekaran    20EC060         11.0                 75.0                      2           86
8                  Yenumala Bharath Kumar    20CS058         10.0                 75.0                      2           85
9                         Mohana Sabari M    20CY013         10.0                 75.0                      2           85
10                      Jothiprakaash K S    20CS090          7.0                 75.0                      2           82
11                        Jeeva Bhaviya R    20CY006          7.0                 75.0                      2           82
12                               Susila S        NaN          6.0                 75.0                      2           81
13                               Deenan K    20CS067         15.0                 65.0                      1           80
14                   Krishnam Siva Likith    20AD029         15.0                 65.0                      1           80
15                               Girija J        NaN         15.0                 65.0                      1           80
16                           Venkatesan J    20CS172          5.0                 75.0                      2           80
17                            Krithika Pv    20IT024         13.0                 65.0                      1           78
18                      Gokul Nallathambi    20EC046          NaN                 75.0                      2           75
19                            Kavipriya S    20CS093         16.0                 55.0                      1           71
20                             Manogari K    20EC070         14.0                 55.0                      1           69
21                          Sandya Sree R    20CS143         12.0                 55.0                      1           67
22                           Chandrasri K    20AD009         12.0                 55.0                      1           67
23                               Rashik N    20CS140         20.0                 45.0                      1           65
24                            Yokeshwar V    20CS180         20.0                 40.0                      1           60
25                         Mohanasundar S    20AD033         19.0                 35.0                      1           54
26                             Visalini R        NaN         14.0                 40.0                      1           54
27                         Ravibharathi M    20EC100         13.0                 40.0                      1           53
28                              Monisha N    20CS115         17.0                 35.0                      1           52
29                             Nandhini G    20AD035         15.0                 35.0                      1           50
30                              Vignesh V    20EC136         14.0                 35.0                      1           49
31                            Sushmitha S    20IT052         12.0                 35.0                      1           47
32                               Naveen S    20CS123         11.0                 35.0                      1           46
33                     Sharumathi Murugan    20EC113         11.0                 35.0                      1           46
34                                Akash R    20CS060         10.0                 35.0                      1           45
35                                Sugan V    20CS163          7.0                 35.0                      1           42
36                             Boopathi K    20CY002          7.0                 35.0                      1           42
37                            Manoharan M    20EC071          7.0                 35.0                      1           42
38                              Sundhar A        NaN          8.0                 28.0                      0           36
39                         Naveen Kumar V    20CS122          NaN                 35.0                      1           35
40                            Hyder Ali K    20IT016         14.0                 20.0                      0           34
41                            Sridharan M    20EC119         10.0                 20.0                      0           30
42                             Jaishree J    20CS085         18.0                  8.0                      0           26
43                          Suriyanaath G    20CS166         17.0                  NaN                      0           17
44                     Mallireddy Pavitra    20AD031         17.0                  0.0                      0           17
45                         A Harish Reddy    20EC001          9.0                  8.0                      0           17
46                             Poovitha B        NaN         16.0                  NaN                      0           16
47                      Alam Muni Karthik    20AD004         15.0                  0.0                      0           15
48                            Jayasurya A    20CS089         14.0                  NaN                      0           14
49                             Pavithra M    20CY016         13.0                  0.0                      0           13
50                         Naveen Kumar A    20CS121         11.0                  0.0                      0           11
51                            Rajadurai A    20EC099         11.0                  NaN                      0           11
52                                Meera P        NaN         10.0                  NaN                      0           10
53                        Kishore Kumar R    20CS101          9.0                  0.0                      0            9
54                          Karthikeyan G    20CS091          8.0                  NaN                      0            8
55                              Divya K V    20IT010          8.0                  NaN                      0            8
56                            Vasanthan G    20CS171          7.0                  0.0                      0            7
57                           Tamilarasu A    20AD051          7.0                  0.0                      0            7
58                            Dharneesh V    20CS070          6.0                  0.0                      0            6
59                              Nivetha.E    21AD502          6.0                  NaN                      0            6
60                              Deepika S    20MD002          5.0                  NaN                      0            5
61                             Priyanka G        NaN          4.0                  NaN                      0            4
62                               Vahini D    20CS170          3.0                  0.0                      0            3
63                        Muthaiyanavendr    20EC081          NaN                  0.0                      0            0
64                             Dhanasri A    20IT007          NaN                  0.0                      0            0

In [52]:
print(df1.head(1))

               Name RollNumber  MCQ 1 Score  Coding Assessment 1  \
0  Bala Sweatha S D    20AD008         20.0                 75.0

   No.of Coding Question  Total Score
0                      2           95

In [53]:
newdf1= df1.dropna()    #drop the whole coloumn if any row contains "na"
print(newdf1.to_string())    #study replace,fill,inplace

                                     Name RollNumber  MCQ 1 Score  Coding Assessment 1  No.of Coding Question  Total Score
0                        Bala Sweatha S D    20AD008         20.0                 75.0                      2           95
1                               Pradeep K    20AD040         20.0                 75.0                      2           95
2                                Raghul G    20CY019         18.0                 75.0                      2           93
3                         Vishnupriya B E    20EC138         17.0                 75.0                      2           92
4   Gummireddigari Kadireddi Vijaya Durga    20CS014         16.0                 75.0                      2           91
5                            Vaishnavi  P    20CY025         13.0                 75.0                      2           88
6                  Kotakonda Mallikarjuna    20CS025         11.0                 75.0                      2           86
7                  Kalaiarasi Gunasekaran    20EC060         11.0                 75.0                      2           86
8                  Yenumala Bharath Kumar    20CS058         10.0                 75.0                      2           85
9                         Mohana Sabari M    20CY013         10.0                 75.0                      2           85
10                      Jothiprakaash K S    20CS090          7.0                 75.0                      2           82
11                        Jeeva Bhaviya R    20CY006          7.0                 75.0                      2           82
13                               Deenan K    20CS067         15.0                 65.0                      1           80
14                   Krishnam Siva Likith    20AD029         15.0                 65.0                      1           80
16                           Venkatesan J    20CS172          5.0                 75.0                      2           80
17                            Krithika Pv    20IT024         13.0                 65.0                      1           78
19                            Kavipriya S    20CS093         16.0                 55.0                      1           71
20                             Manogari K    20EC070         14.0                 55.0                      1           69
21                          Sandya Sree R    20CS143         12.0                 55.0                      1           67
22                           Chandrasri K    20AD009         12.0                 55.0                      1           67
23                               Rashik N    20CS140         20.0                 45.0                      1           65
24                            Yokeshwar V    20CS180         20.0                 40.0                      1           60
25                         Mohanasundar S    20AD033         19.0                 35.0                      1           54
27                         Ravibharathi M    20EC100         13.0                 40.0                      1           53
28                              Monisha N    20CS115         17.0                 35.0                      1           52
29                             Nandhini G    20AD035         15.0                 35.0                      1           50
30                              Vignesh V    20EC136         14.0                 35.0                      1           49
31                            Sushmitha S    20IT052         12.0                 35.0                      1           47
32                               Naveen S    20CS123         11.0                 35.0                      1           46
33                     Sharumathi Murugan    20EC113         11.0                 35.0                      1           46
34                                Akash R    20CS060         10.0                 35.0                      1           45
35                                Sugan V    20CS163          7.0                 35.0                      1           42
36                             Boopathi K    20CY002          7.0                 35.0                      1           42
37                            Manoharan M    20EC071          7.0                 35.0                      1           42
40                            Hyder Ali K    20IT016         14.0                 20.0                      0           34
41                            Sridharan M    20EC119         10.0                 20.0                      0           30
42                             Jaishree J    20CS085         18.0                  8.0                      0           26
44                     Mallireddy Pavitra    20AD031         17.0                  0.0                      0           17
45                         A Harish Reddy    20EC001          9.0                  8.0                      0           17
47                      Alam Muni Karthik    20AD004         15.0                  0.0                      0           15
49                             Pavithra M    20CY016         13.0                  0.0                      0           13
50                         Naveen Kumar A    20CS121         11.0                  0.0                      0           11
53                        Kishore Kumar R    20CS101          9.0                  0.0                      0            9
56                            Vasanthan G    20CS171          7.0                  0.0                      0            7
57                           Tamilarasu A    20AD051          7.0                  0.0                      0            7
58                            Dharneesh V    20CS070          6.0                  0.0                      0            6
62                               Vahini D    20CS170          3.0                  0.0                      0            3

In [54]:
df1['MCQ 1 Score'].fillna(0,inplace=True)
print(df1.to_string())

                                     Name RollNumber  MCQ 1 Score  Coding Assessment 1  No.of Coding Question  Total Score
0                        Bala Sweatha S D    20AD008         20.0                 75.0                      2           95
1                               Pradeep K    20AD040         20.0                 75.0                      2           95
2                                Raghul G    20CY019         18.0                 75.0                      2           93
3                         Vishnupriya B E    20EC138         17.0                 75.0                      2           92
4   Gummireddigari Kadireddi Vijaya Durga    20CS014         16.0                 75.0                      2           91
5                            Vaishnavi  P    20CY025         13.0                 75.0                      2           88
6                  Kotakonda Mallikarjuna    20CS025         11.0                 75.0                      2           86
7                  Kalaiarasi Gunasekaran    20EC060         11.0                 75.0                      2           86
8                  Yenumala Bharath Kumar    20CS058         10.0                 75.0                      2           85
9                         Mohana Sabari M    20CY013         10.0                 75.0                      2           85
10                      Jothiprakaash K S    20CS090          7.0                 75.0                      2           82
11                        Jeeva Bhaviya R    20CY006          7.0                 75.0                      2           82
12                               Susila S        NaN          6.0                 75.0                      2           81
13                               Deenan K    20CS067         15.0                 65.0                      1           80
14                   Krishnam Siva Likith    20AD029         15.0                 65.0                      1           80
15                               Girija J        NaN         15.0                 65.0                      1           80
16                           Venkatesan J    20CS172          5.0                 75.0                      2           80
17                            Krithika Pv    20IT024         13.0                 65.0                      1           78
18                      Gokul Nallathambi    20EC046          0.0                 75.0                      2           75
19                            Kavipriya S    20CS093         16.0                 55.0                      1           71
20                             Manogari K    20EC070         14.0                 55.0                      1           69
21                          Sandya Sree R    20CS143         12.0                 55.0                      1           67
22                           Chandrasri K    20AD009         12.0                 55.0                      1           67
23                               Rashik N    20CS140         20.0                 45.0                      1           65
24                            Yokeshwar V    20CS180         20.0                 40.0                      1           60
25                         Mohanasundar S    20AD033         19.0                 35.0                      1           54
26                             Visalini R        NaN         14.0                 40.0                      1           54
27                         Ravibharathi M    20EC100         13.0                 40.0                      1           53
28                              Monisha N    20CS115         17.0                 35.0                      1           52
29                             Nandhini G    20AD035         15.0                 35.0                      1           50
30                              Vignesh V    20EC136         14.0                 35.0                      1           49
31                            Sushmitha S    20IT052         12.0                 35.0                      1           47
32                               Naveen S    20CS123         11.0                 35.0                      1           46
33                     Sharumathi Murugan    20EC113         11.0                 35.0                      1           46
34                                Akash R    20CS060         10.0                 35.0                      1           45
35                                Sugan V    20CS163          7.0                 35.0                      1           42
36                             Boopathi K    20CY002          7.0                 35.0                      1           42
37                            Manoharan M    20EC071          7.0                 35.0                      1           42
38                              Sundhar A        NaN          8.0                 28.0                      0           36
39                         Naveen Kumar V    20CS122          0.0                 35.0                      1           35
40                            Hyder Ali K    20IT016         14.0                 20.0                      0           34
41                            Sridharan M    20EC119         10.0                 20.0                      0           30
42                             Jaishree J    20CS085         18.0                  8.0                      0           26
43                          Suriyanaath G    20CS166         17.0                  NaN                      0           17
44                     Mallireddy Pavitra    20AD031         17.0                  0.0                      0           17
45                         A Harish Reddy    20EC001          9.0                  8.0                      0           17
46                             Poovitha B        NaN         16.0                  NaN                      0           16
47                      Alam Muni Karthik    20AD004         15.0                  0.0                      0           15
48                            Jayasurya A    20CS089         14.0                  NaN                      0           14
49                             Pavithra M    20CY016         13.0                  0.0                      0           13
50                         Naveen Kumar A    20CS121         11.0                  0.0                      0           11
51                            Rajadurai A    20EC099         11.0                  NaN                      0           11
52                                Meera P        NaN         10.0                  NaN                      0           10
53                        Kishore Kumar R    20CS101          9.0                  0.0                      0            9
54                          Karthikeyan G    20CS091          8.0                  NaN                      0            8
55                              Divya K V    20IT010          8.0                  NaN                      0            8
56                            Vasanthan G    20CS171          7.0                  0.0                      0            7
57                           Tamilarasu A    20AD051          7.0                  0.0                      0            7
58                            Dharneesh V    20CS070          6.0                  0.0                      0            6
59                              Nivetha.E    21AD502          6.0                  NaN                      0            6
60                              Deepika S    20MD002          5.0                  NaN                      0            5
61                             Priyanka G        NaN          4.0                  NaN                      0            4
62                               Vahini D    20CS170          3.0                  0.0                      0            3
63                        Muthaiyanavendr    20EC081          0.0                  0.0                      0            0
64                             Dhanasri A    20IT007          0.0                  0.0                      0            0

In [55]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   65 non-null     object
 1   RollNumber             58 non-null     object
 2   MCQ 1 Score            65 non-null     float64
 3   Coding Assessment 1    55 non-null     float64
 4   No.of Coding Question  65 non-null     int64
 5   Total Score            65 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.2+ KB
None

In [56]:
print(df1['Total Score'].max())
print(df1['Total Score'].mean())

95
46.15384615384615

In [57]:
print(df1['Name'].loc[df1['Total Score'] == df1['Total Score'].max()].to_string())

0    Bala Sweatha S D
1           Pradeep K

In [58]:
print(df1['Name'].loc[df1['Total Score']>=75].to_string())

0                          Bala Sweatha S D
1                                 Pradeep K
2                                  Raghul G
3                           Vishnupriya B E
4     Gummireddigari Kadireddi Vijaya Durga
5                              Vaishnavi  P
6                    Kotakonda Mallikarjuna
7                    Kalaiarasi Gunasekaran
8                    Yenumala Bharath Kumar
9                           Mohana Sabari M
10                        Jothiprakaash K S
11                          Jeeva Bhaviya R
12                                 Susila S
13                                 Deenan K
14                     Krishnam Siva Likith
15                                 Girija J
16                             Venkatesan J
17                              Krithika Pv
18                        Gokul Nallathambi

In [59]:
tempdf=df1.drop(columns = ['Name','RollNumber'])
print(tempdf.to_string)               # bad co-relation  averageco-relation and good co-realtion are the types
print(tempdf.corr().to_string())

<bound method DataFrame.to_string of     MCQ 1 Score  Coding Assessment 1  No.of Coding Question  Total Score
0          20.0                 75.0                      2           95
1          20.0                 75.0                      2           95
2          18.0                 75.0                      2           93
3          17.0                 75.0                      2           92
4          16.0                 75.0                      2           91
..          ...                  ...                    ...          ...
60          5.0                  NaN                      0            5
61          4.0                  NaN                      0            4
62          3.0                  0.0                      0            3
63          0.0                  0.0                      0            0
64          0.0                  0.0                      0            0

[65 rows x 4 columns]>
                       MCQ 1 Score  Coding Assessment 1  No.of Coding Question  Total Score
MCQ 1 Score               1.000000             0.233750               0.183239     0.394926
Coding Assessment 1       0.233750             1.000000               0.942207     0.984718
No.of Coding Question     0.183239             0.942207               1.000000     0.933825
Total Score               0.394926             0.984718               0.933825     1.000000

In [68]:
tempdf=df.drop(columns = ['age'])
print(tempdf.to_string)              
"""print(tempdf.corr().to_string())"""

<bound method DataFrame.to_string of      0   income vehicle
0    1   300000    alto
1    2   300000    alto
2    3   275000    alto
3    4   500000   wagon
4    5   550000   wagon
5    6   580000   wagon
6    7  1000000  baleno
7    8  1100000  baleno
8    9  1050000  baleno
9   10  1500000  seltos
10  11  1300000  seltos
11  12  1400000  seltos>

'print(tempdf.corr().to_string())'

In [28]:
df3 = pd.read_csv('create data.csv')
print(df3.to_string)

FileNotFoundError: [Errno 2] No such file or directory: 'create data.csv'

In [29]:
df3.value_counts(['vehicle'])

NameError: name 'df3' is not defined

In [30]:
df3['income'].sum()

NameError: name 'df3' is not defined